


<div class="background" id="title">
  <strong>Title</strong>
  <!-- <script src="api response"/> -->
  <!-- Pull in title content -->
</div>

<div class="background" id="number">
  <p>Bill Number</p>
  <!-- pull in bill number -->
</div>

<div class="background" id="last_action_date">
  <p>Date of last action</p>
  <!-- pull in last action date -->
</div>

<!-- <p>
  <%= link_to "More Details", bill_path(@bill), :class => "load details" %>
</p> -->
